.header_for {
  width: 100%;
  display: flex;
  justify-content: space-around;
 
}
.lf_fr {
  display: inline;
  border: 2px solid blue;
  float: right;
  position: absolute;
  left: 0;
}
.rf_fr {
  width: 50%;
  display: flex;
  border-bottom: 2px solid blue;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.hd_fr {
  color: rgb(111, 16, 236);
}
.ad_fr {
  color: rgb(47, 47, 47);
  font-weight: 450;
}
* {
  margin: 0;
  padding: 0;
}
.pr_dt_fr {
  display: flex;
  justify-content: space-between;
  margin: 20px 70px;
}
.pr_dt_fr table tr th {
  width: 200px;
  text-align: left;
  border: 1px solid gray;
  color: rgba(147, 85, 227, 0.997);

  padding-left: 40px;
}
.pr_dt_fr table tr td {
  width: 400px;
  text-align: center;
  border: 1px solid gray;
}
.tour_details_fr{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tour_details_fr table tr,.tour_details_fr table th{
    width: 200px;
    padding: 10px;
  text-align: left;
  border: 1px solid gray;
  
 
  padding-left: 40px;

}
.tour_details_fr .d_fr{
    width:900px;
    
}
.thd{
    background-color: rgba(147, 85, 227, 0.997); 
    color: aliceblue;
}
.incl_fr{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.head_fr_inc{
    width: 80%;
    background-color: rgb(97, 196, 79); 
    color: aliceblue;
    text-align: center;
    margin: 20px;
    margin-bottom: 0;

}
.dt_incl_fr{
    width: 80%;
    background-color: rgba(125, 246, 140, 0.997); 
   
    text-align: left;
   
}
.dt_incl_fr h6{
    margin-left: 2%;
    margin-bottom: 1%;
}
.conditions_fr{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn_fr{
    width: 100%;
    text-align: center;
    margin:5% 0;
}
.pay_now_fr{
    background-color: rgb(222, 222, 101) !important;
    width: 20%;
    
}